$primary:           #bb272d;
$icon_title_colour:   white;

.tend_nlc_chat {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 999;
  font-size: 15px;
  &.open {
    max-height: 90%;
    overflow-y: scroll;
  }
  .gform_wrapper {
    ul.gform_fields {
      list-style: none;
      margin-left: 0;
    }
    .gfield {
      margin-bottom: 10px;
    }
    .gform_footer {
      .gform_button {
        background-color: $primary;
      }
    }
  }
}

.tend_nlc_chat_icon {
  background: $primary;
  width: auto;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-right: 5px;
  margin-bottom: 20px;
  span {
    color: $icon_title_colour;
  }
  svg {
    fill:$icon_title_colour;
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

.tend_nlc_chat_content {
  display: none;
  background: #fff;
  min-width: 250px;
  overflow: hidden;
  max-width: 400px;
}

.tend_nlc_chat_banner {
  background: $primary;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  h2 {
    color: #fff;
    float: left;
    margin: 0;
  }
}

.tend_nlc_chat_close {
  float: right;
  display: flex;
  align-items: center;
  svg {
    fill: $icon_title_colour;
    width: 30px;
    height: 30px;
  }
}

.tend_nlc_chat_content_inner {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  .gform_wrapper {
    li {
      width: 100%;
    }
    textarea.large {
      max-height: 200px;
    }
  }
}

p.tend_nlc_chat_content_inner_message {
  text-align: center;
  font-style: italic;
}

@media (min-width: 768px) {
  .tend_nlc_chat_icon {
    width: auto;
    height: 65px;
    border-radius: 20px;
    color: $icon_title_colour;
    padding: 20px;
    svg {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
  }
}